<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="tracm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="tracm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <tracm.Properties.Settings>
            <setting name="ACMServer" serializeAs="String">
                <value>cmdn.telvue.com</value>
            </setting>
            <setting name="ACMUsername" serializeAs="String">
                <value/>
            </setting>
            <setting name="ACMPassword" serializeAs="String">
                <value/>
            </setting>
            <setting name="CablecastServer" serializeAs="String">
                <value/>
            </setting>
            <setting name="CablecastUsername" serializeAs="String">
                <value/>
            </setting>
            <setting name="CablecastPassword" serializeAs="String">
                <value/>
            </setting>
            <setting name="DownloadPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="PassiveFTP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseCablecast" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CablecastLocation" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CablecastFormat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ForceTranscode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WorkPath" serializeAs="String">
                <value>C:\tracm-work\</value>
            </setting>
            <setting name="PollSCS" serializeAs="String">
                <value>False</value>
            </setting>
        </tracm.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <tracm.Properties.Settings>
            <setting name="tracm_Cablecast_CablecastWS" serializeAs="String">
                <value>http://localhost/CablecastWS/CablecastWS.asmx</value>
            </setting>
        </tracm.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
