<!--
    Logging configuration file

    Editing this file will change the way in which events are logged, please excercise caution.
-->
<log4net>

  <!-- The EventLogAppender outputs messages to the System's event log. -->
  <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender" >
    <param name="LogName" value="TRACM" />
    <!-- The name of the event log to log to -->
    <param name="ApplicationName" value="TRACM" />
    <!-- The name of the application to log as -->
    <layout type="log4net.Layout.PatternLayout">
      <!-- The pattern to use when formatting events -->
      <conversionPattern value="%logger - %-5level %newline %message%newline %exception" />
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="INFO" />
      <!-- Only items above this level will be logged, the default is 'INFO', which will result in INFO, WARNING, ERROR and FATAL messages being logged to the event viewer-->
    </filter>
  </appender>

  <!-- The OutputDebugStringAppender outputs messages to a tool such as DebugView -->
  <appender name="OutputDebugStringAppender" type="log4net.Appender.OutputDebugStringAppender" >
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger - %message %exception" />
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="DEBUG" />
    </filter>
  </appender>

  <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
    <file type="log4net.Util.PatternString" value="LogFiles/" />
    <staticLogFileName value="false"/>
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <datePattern value="MM-dd-yyyy'.txt'" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger - %message %exception%newline" />
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="DEBUG" />
    </filter>
  </appender>

  <!-- All loggers inherit from the root logger, so all messages are sent to the OutputDebugStringAppender by default-->
  <root>
    <level value="ALL" />
    <appender-ref ref="OutputDebugStringAppender" />
    <appender-ref ref="EventLogAppender"/>
    <appender-ref ref="RollingLogFileAppender" />
  </root>
</log4net>
